<%= form_with model: @booking, url: new_booking_path, method: :get %>
  <% if flights %>
  <h4><%= pluralize(flights.length, 'flight') %> matched your search</h4>

    <table>
      <thead>
        <tr>
          <th>Select</th>
          <th>Departs</th>
          <th>Arrives</th>
          <th>Date</th>
          <th>Time</th>
          <th>Duration</th>
        </tr>
      </thead>
      
      <tbody>
          <% flights.each do |flight| %>
            <tr>
              <td><%= radio_button_tag(:flight, flight.id) %></td>
              <td><%= flight.departure_airport.code %></td>
              <td><%= flight.arrival_airport.code %></td>
              <td><%= flight.formatted_date %></td>
              <td><%= flight.formatted_time %></td>
              <td><%= flight.formatted_duration %></td>  
            </tr>
          <% end %>
      </tbody>
    </table>
    <%= form.hidden_field :num_tickets, value: params[:passengers] %>
    <%= form.button :submit, 'Book Flight', 'book-flight-button' %>
  <% end %>
<% end %>